.navbar{
	font-size: 14px;
}
.portfolio-item{/*
    border-style: solid;
    border-width: 5px;
    border-color: rgba(25,25,25,0.3);
    border-radius: 5px;*/
    margin-bottom: 15px;
}
.portfolio-item p{
	height: 100px;
    overflow: hidden;
    text-overflow: ellipsis; /*
    text-align: justify;*/
}
.portfolio-item > a{
	text-decoration: none;
}
.img-conteiner{
	position: relative;
    width: 350px; 
    height: 200px; 
    overflow: hidden; 
}
.img-conteiner img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.portfolio-item > h3{
	display: inline-block;
	margin-right: 20px;
}
.portfolio-item > div{
	display: inline-block;
}
.positive-vote{

}
.negative-vote{
	
}
div > .vote{
	text-decoration: none;
	margin-right: 15px;
}
.vote i{
	/*border:none;*/
	/*border: 0px;*/
	/*border-style: none;*/
	margin-left: 15px;
	margin-right: 5px;
	display: inline-block;
}
.positive-vote i{
	width: 14px;
	height: 16px;
	background: url('../img/sprite.png') no-repeat 0 0;
	background: url('../img/sprite.png') no-repeat 0 -60px;
}
/*.positive-vote i:hover{
	background: url('../img/sprite.png') no-repeat 0 -60px;
}*/
.negative-vote i{
	width: 14px;
	height: 16px;
	background: url('../img/sprite.png') no-repeat 100% 0;
	background: url('../img/sprite.png') no-repeat -30px -60px;
}	
/*.negative-vote i:hover{
	background: url('../img/sprite.png') no-repeat -30px -60px;
}*/	

#loginform{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	display: none;
	background-color: rgba(25,25,25,0.5);
	position: fixed;
	z-index: 10000;
}
.image-in-page{
	float: left;
	margin-right: 15px;
	width:55%;
}
.image-in-page + p{
	padding-right: 0px;
	text-align: justify;
}
footer{
	margin-bottom: 0px;
}
#logo-img{
	width: 85px;
	margin: 2px;
}

#map-canvas {
	margin-top: 10px;
	width: auto;
	height: 500px;
	background-color: lightblue;
}

.info{
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}
.info > div{
	display: inline-block;
	margin: 0 25px 0 0;
}
.info p{
	display: inline-block;
	margin: 0 25px 0 25px;
}
.info > button{
	/*display: inline-block;*/
}
.created-info{
	float: right;
}
.bold{
	font-weight: bold;
}
.text-center > .col-lg-12{
	/*background-color: green;*/
}
.text-center > .col-lg-12 > .btn-group{
	position: absolute;
	left: 50px;
	top: 20px;
}
h1.page_header{
	display: none;
}

























.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),
		rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),
		rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),
		rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],
								.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}



